* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    width: 100%;
    background-image: url(img/5414406_a8a9_3.jpg);
    background-size: cover;
    padding-top: 150px;
    padding-left: 100px;
}

.box {
    height: 500px;
    width: 19%;
    overflow: auto;

}

.part1 {
    height: 225px;
    width: 100%;
    background-color: blue;
    background-image: url(img/200_1R3A6787.jpg);
    background-size: cover;
    padding-top: 10px;
}

.vrbox {
    height: 30px;

    background-color: white;
    padding-top: 7px;
    padding-left: 8px;
    margin-left: 70%;
    border-radius: 10px;
    text-align: justify;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.part2 {
    height: 380px;
    width: 100%;
    backdrop-filter: blur(10px);
    font-family: "Playwrite PE", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h3 {
    color: white;
    font-size: 20px;

}

p {
    color: white;
}

button {
    margin-top: 10px;
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0.463), blue);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
}